# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Data folders you don’t want to push
Data-raw/
Data-processed/
notebooks/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Ignore system folders
AppData/
